html{
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    min-width: 320px;
    overflow-x: hidden;
}

img{
    height: 200px;
    max-width: 100%;
}

.container{
    min-width: 320px;
    margin: 0 auto;
}

.wrap{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 100%;
    overflow: hidden;
}

.content{
    flex: 1 1 auto;
}

.header, .footer{
    padding: 0 20px;
    background-color: crimson;
}

.header__content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
.footer__content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}

.header__text, .footer__text{
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: white;
}

.main__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 15px 20px;
}

.aside__content{
    line-height: 15px;
}

.aside{
    position:absolute;
    top: 110px;
    left: 55%;
}

.aside__item{
    width: 6rem;
}

.item__1, .item__2, .item__3, .item__4, .item__5, .item__6, .item__7, .item__8, .item__9{
    background-color: #bdb4b4;
    margin-bottom: 2px;
    font-size: 9px;
    text-align: start;
    color: white;
    padding: 0 2px;
}

@media (min-width: 640px) {
    .aside{
        position: absolute;
        left: 80%;
    }
    img{
        height: 300px;
    }
    .item__1, .item__2, .item__3, .item__4, .item__5, .item__6, .item__7, .item__8, .item__9{
        margin-bottom: 4px;
        font-size: 10px;
        text-align: start;
        padding: 0 4px;
    }

}

@media (min-width: 1280px) {
    .aside{
        position: absolute;
        left: 72%;
    }
    .item__1, .item__2, .item__3, .item__4, .item__5, .item__6, .item__7, .item__8, .item__9{
        margin-bottom: 6px;
        font-size: 15px;
        text-align: start;
        padding: 0 6px;
    }
    .aside__item{
        width: 18rem;
    }
}

